        
            .animales{
                display: flex;
                justify-content: center; /* align horizontal */
                align-items: center; /* align vertical */
                height: 60px;
                width:  280px;
            }

            .listaAnimales{
                display: flex;
                justify-content: center; /* align horizontal */
                align-items: center; /* align vertical */
                height: 82px;
                width:  82px;
            }